name: Projects

on:
  workflow_dispatch:  # Manually start a workflow
  push:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        project:
          - PlatformTest:
            repository: "Jason2866/platform-test"
            folder: "src"
            config_dir: "src"
            env_name: "esp32-s3"
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: 3.13

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"
          enable-cache: false

      - name: Install PlatformIO
        run: uv pip install --system -U .

      - name: Check out ${{ matrix.project.repository }}
        uses: actions/checkout@v4
        with:
          submodules: "recursive"
          repository: ${{ matrix.project.repository }}
          path: ${{ matrix.project.folder }}

      - name: Compile example ${{ matrix.project.repository }}
        run: |
          pio run -d ${{ matrix.project.config_dir }} -e ${{ matrix.project.env_name }}
